body{
    
    background-color: aqua;
    text-align: center;
    background-image: url(../images/Ai-Coloured-polygonal-background-design-vector-free-download.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
 
    
}
#end{
    background-clip: border-box;
    border: 10px dotted yellow;
    font-size: 30px;
    background-color: red;

}

    


#about-image{
    width: 275px;
    height:183px;
    float: left;
}
#about-image1{
    float: right;
}

#start{
    background-clip: border-box;
    border: 10px dotted yellow;
    font-size: 30px;
    background-color:green;
   


}
#image2{
    width: 100px;
    text-align: center;
   
  


}
#head{
    font-family: TheBlacklist;
    font-size: 40px;
}
.h1{
    font-family: TheBlacklist;
}